header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-top: -15px;
  position: fixed;
  top: 15px;
  padding: 15px;
}

header h1 {
  margin: 0;
}

footer {
  padding: 15px;
  width: 320px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0px;
  font-weight: bold;
}

nav {
  position: fixed;
  bottom: 15px;
  right: 15px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  scroll-snap-align: start;
  z-index: 100;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 100vh;
}

section p {
  font-size: 18px;
}

section img {
  width: 420px;
}

section a:first-of-type {
  color: #E568AC;
  margin-bottom: 15px;
}

ol {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-bottom: 10px;
}

.cover {
  scroll-snap-align: start;
}